{:lib      io.github.hive-agi/hive-dvergr
 :minor    1
 :license  {:name "MIT" :url "https://opensource.org/licenses/MIT"}
 :scm-url  "https://github.com/hive-agi/hive-dvergr"
 :src-dirs ["src"]
 :publish  :none}
